/// Variables globales
$primary: #117788;
$secondary: #e4e4e4;
$avatar-size: 150px;

// Importation des styles Bootstrap
@import "~bootstrap/scss/bootstrap";

// Styles globaux
body {
    background-color: #f4f7fc;
    font-family: 'Inter', sans-serif;
}

//----search trajet
.hidden {
    display: none !important;
}


// Section photo de profil
#image-display {
    border: 3px solid #fff;
    width: $avatar-size;
    height: $avatar-size;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 auto;
}

#photopresentation h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    background-color: #0d4d00;
    color: #fff;
    border-radius: 20px;
    padding: 12px 25px;
    text-transform: uppercase;
}

#photopresentation {
    text-align: center;
    margin-bottom: 30px;
}

// Informations utilisateur
.card {
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card p {
    font-size: 1.1rem;
}

.card i {
    color: $primary;
    margin-right: 10px;
}

.card .row {
    margin-bottom: 10px;
}

.card .col-md-6 {
    display: flex;
    align-items: center;
}

.card .mb-3 {
    font-size: 1.1rem;
    font-weight: 500;
}

.alert {
    background-color: #ff4d4d;
    color: white;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 15px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    #image-display {
        width: 120px;
        height: 120px;
    }

    #photopresentation h1 {
        font-size: 2rem;
    }

    .card-body {
        padding: 15px;
    }

    .alert {
        font-size: 1rem;
    }
}
//******section page home----
.hero-container {
    position: relative;
    width: 100%;
    height: 80vh; /* Hauteur adaptée */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.hero-title, .hero-subtitle, .hero-text {
    background-color: rgba(75, 127, 82, 0.8); /* Vert #4B7F52 à 80% */
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    max-width: 80%;
}

.hero-title {
    font-size: 3rem;
    font-weight: bold;
}

.hero-subtitle {
    font-size: 2rem;
    margin-top: 10px;
}

.hero-text {
    font-size: 1.2rem;
    margin-top: 20px;
}
